{% extends "base.html" %}
{% block title %}About PyPassMan.app{% endblock %}
{% block content %}
<section class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body text-black">

          <h1 class="h2 mb-3">About</h1>

          <p class="">
            Welcome to a website created for no reason. This site was created to provide a
            simple, secure, and easy-to-use platform.
          </p>

          <hr>

          <h2 class="h4 mt-4">What I Do</h2>

          <p>
            Nothing interesting.
          </p>

          <h2 class="h4 mt-4">I Mission</h2>

          <p>
            I misson hard.
          </p>

          <h2 class="h4 mt-4">Security</h2>

          <p>
            "Security".
          </p>

          </div>

        </div>
      </div>

    </div>
</section>

{% endblock %}
